<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>THIS IS THE LANDING PAGE.</p>
  <p>Should have some kinda of UI that gives users the option to login
    and about us buttons and contacts and such....</p>
    <div class="rentals-link">
      {{#link-to "rentals" class="button"}}
        View Rentals...
      {{/link-to}}
    </div>
</div>
